{% extends '::plantilla.html.twig' %}

{% block content %}
    <section class="main-section paddind" id="Portfolio"><!--main-section-start-->
        <div class="container">
            <h2>Partituras</h2>
            <h6>Aquí tienes las partituras que nuestra comunidad quiere compartir con todos vosotros de forma totalmente gratuita </h6>
        </div>
    </section>
{% endblock %}