{% extends '::plantilla.html.twig' %}

{% block content %}
<body>
<section section class="main-section team" id="team" style="padding:10px"><!--main-section team-start-->
    <br/><br/>

    <div class="container">
        <h2>Nociones</h2>
        <h6>Nociones básicas.</h6>

            <div class="floatnone" style="margin-left:25%">
               <img alt="C Major scale (up and down).svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/40/C_Major_scale_%28up_and_down%29.svg/450px-C_Major_scale_%28up_and_down%29.svg.png"
                         width="450" height="66" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/40/C_Major_scale_%28up_and_down%29.svg/675px-C_Major_scale_%28up_and_down%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/40/C_Major_scale_%28up_and_down%29.svg/900px-C_Major_scale_%28up_and_down%29.svg.png 2x"
                     data-file-width="510" data-file-height="75"/></div>
                <div style="float:right">
                <p ><h6><strong>La notación musical</strong></h6> Aparece sobre un conjunto de cinco líneas llamado pentagrama, que consta de cinco líneas horizontales, equidistantes y paralelas, además de cuatro espacios entre estas líneas. Las líneas se enumeran de abajo hacia arriba como línea 1, 2, 3, 4 y 5, y los espacios por igual, desde el 1.º hasta el 4.º.

                    Sobre las líneas y los espacios se van anotando las correspondientes notas musicales; cada línea y espacio identifica una entonación diferente; desde la nota más grave abajo, hasta la más aguda arriba. En el conjunto vertical, además, se pueden representar los acordes, las notas que sonarán simultáneamente.

                    De manera horizontal el pentagrama representa tiempo y melodía (que no es otra cosa más que una sucesión de sonidos en el tiempo). Se divide, además, en compases, los cuales a su vez se dividen en tiempos.

                    El primer símbolo que se representa sobre el pentagrama es la clave, la cual indicará qué nota viene representada por cada línea y cada espacio del pentagrama. Por ejemplo, la clave de Sol en segunda indica que la nota que se escribe en la segunda línea del pentagrama es un Sol, y a partir de esta se pueden determinar qué notas representan las demás líneas y espacios (La en el segundo espacio, Si en la tercera línea...). A la derecha de la clave encontraremos la armadura, la cual nos muestra las alteraciones hechas a ciertas notas para agregarles o disminuirles medio tono y así armar la escala musical sobre la que está la pieza, o sea, la tonalidad de esta.

                </p>        <br/><br/>
            </div>
            <br/><br/>

            <div style="float:right">
                <h6><strong>Figuras musicales o rítmicas</strong></h6>
                <p>Valores o figuras musicales son símbolos que representan el tiempo de duración de las notas musicales. Son también llamados valores positivos. Los símbolos de las figuras se usan para representar la duración para ser ejecutado. Las notas se muestran en la figura de abajo, por orden decreciente de duración. son: redonda, blanca, negra, corchea, semicorchea, fusa y semifusa.

                    Antiguamente existía también la cuadrada, como el doble de la duración de la redonda, la larga, como el doble de la duración de la cuadrada y la máxima, como el doble de la duración de la larga, pero esas notas ya no se usan en la notación actual. Cada nota tiene la mitad de la duración de la anterior. Si pretendiéramos representar una nota de un tiempo y medio (por ejemplo, el tiempo de una negra sumado con el de una corchea) se usa un punto, llamado puntillo, que sigue a la nota.

                    La duración real (medida en segundos) de una nota depende del tempo utilizado (por ejemplo, «negra 60» que equivale a 60 negras por minuto). Esto significa que la misma nota puede ser ejecutada con una duración diferente en diferentes piezas o incluso dentro de la misma canción, si hay un cambio de andamento (allegro o lento, por ejemplo).</p>
                <div class="floatnone" style="margin-left:25%">
                    <div class="floatnone">
                        <img alt="Notas musicales" src="//upload.wikimedia.org/wikipedia/commons/9/92/Music_notes.png"
                         width="425" height="77" data-file-width="425" data-file-height="77">
                    </div>
                    <br/><br/>
                </div>
            </div>


            <div style="float:right">
                <h6><strong>Representación de las alturas</strong></h6>
                <p>Clave de sol, Clave de fa, Clave de do. Transponen toda la representación musical a una que se adecúe mejor al instrumento que se irá a reproducir. Por ejemplo,
                    las voces graves usan generalmente la clave de fa, en tanto que las más agudas usan la clave de sol. Se suele decir que la clave de fa comienza donde acaba la clave de sol.
                    De modo general, es la clave la que define qué nota ocupará cada línea o espacio en el pentagrama.</p>
                <div class="floatnone" style="margin-left:25%">
                    <div class="thumbinner" style="width:652px;">
                         <img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/All_clefs_numbered.svg/650px-All_clefs_numbered.svg.png" width="650" height="101" class="thumbimage"
                        srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/All_clefs_numbered.svg/975px-All_clefs_numbered.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c6/All_clefs_numbered.svg/1300px-All_clefs_numbered.svg.png 2x"
                              data-file-width="1526" data-file-height="236">
                    <br/><br/>
                    </div>
                </div>
            </div>

        <div style="float:left">
            <h6><strong>Alteraciónes</strong></h6>
            <p>La altura de cada nota se representa por su posición en la pauta en referencia a la nota definida por la clave utilizada</p>
            <br/><br/>
            <div class="floatnone" style="margin-left:25%">
                <div class="thumbinner" style="width:652px; margin-left: 25%;">
                    <img alt="Accidentals.PNG" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Accidentals.PNG/500px-Accidentals.PNG" width="500" height="65"
                         srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/33/Accidentals.PNG/750px-Accidentals.PNG 1.5x, //upload.wikimedia.org/wikipedia/commons/3/33/Accidentals.PNG 2x"
                         data-file-width="928" data-file-height="120">
                    </div>
                <br/><br/>
            </div>
        </div>

        <div style="float:left">
            <h6><strong>Clave o Tonalidad</strong></h6>
                <p>No es más que la asociación de sostenidos o bemoles representados junto a la clave, indicando la escala en que la música será expresada. Por ejemplo, una representación sin
                    sostenidos o bemoles, será la escala de <i>do</i> mayor. Al contrario de los accidentes aplicados a lo largo de la partitura, los sostenidos o bemoles aplicados en la clave
                    duran por toda a pieza o hasta que una nueva clave sea definida: modulación. En la figura vemos la clave de tonalidad de una escala de la mayor. En esta escala todas las notas
                    <i>fa, do</i> y <i>sol</i> deben ser sostenidas, por eso los accidentes son aplicados junto a la clave.</p>
            <div class="floatnone" style="margin-left:25%">
                <div class="thumbinner" style="width:652px; margin-left: 25%;">
                    <img alt="A major key signature.png" src="//upload.wikimedia.org/wikipedia/commons/a/a8/A_major_key_signature.png" width="85" height="85" data-file-width="85" data-file-height="85">
                </div>
                <br/><br/>
            </div>
        </div>
    </div>

</section>

{% endblock %}