{% extends 'base.html.twig' %}
{% block title %}
Bienvenidos a notAll!
{% endblock %}

{% block body %}
    <header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="{{ asset('img/logo.png') }}" alt="notAll!"></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Bienvenidos a NotAll</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>Aplicación de notación musical en línea</li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service">Comenzar</a>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service" style="background-color: #768FC5">Entrar</a>

    </div>
    </header><!--header-end-->

    <nav class="main-nav-outer" id="test"><!--main-nav-start-->
        <div class="container">
            <ul class="main-nav">
                <li><a href="#header">Inicio</a></li>
                <li><a href="#Portfolio">Partituras Públicas</a></li>
                <li class="small-logo"><a href="#header"><img src="img/small-logo.png" alt=""></a></li>
                <li><a href="#team">Equipo</a></li>
                <li><a href="#contact">Registrate</a></li>
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Entrar</button>

                <div id="id01" class="modal"style="padding: 10%;">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
                    <form class="modal-content animate" action="/action_page.php">
                        <h2 style="margin-top: 3%">Introduce tus datos</h2>

                        <div class="container">
                            <label><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" required>

                            <label><b>Contraseña</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required>

                            <label><b>Recordad contraseña</b></label>
                            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                            <input type="checkbox" checked="checked"> Recordarme
                            <p><a href="#">Terminos & Privacidad</a>.</p>

                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
                                <button type="submit" class="signupbtn">Entrar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </ul>
            <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
        </div>
    </nav><!--main-nav-end-->



    <section class="main-section" id="service"><!--main-section-start-->
        <div class="container">
            <h2>Servicios</h2>
            <h6>NotAll ofrece un gran abanico de posibilidades para crear partituras </h6>
            <div class="row">
                <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa fa-rebel"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Registrate & Compone</h3>
                            <p>Registrate ahora mismo y comienza a componer</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-gear"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Desarrollo Web</h3>
                            <p>Utilizando la última tecnologia y haciendo que sea más rápido.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-apple"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>Diseño Móvl</h3>
                            <p>Puedes crear tus partituras en cualquier Plataforma, ya sea Ordenador, tablet o Smartphone.</p>
                        </div>
                    </div>
                    <div class="service-list">
                        <div class="service-list-col1">
                            <i class="fa-medkit"></i>
                        </div>
                        <div class="service-list-col2">
                            <h3>24/7 Soporte</h3>
                            <p>Damos soporte los los siete dias de las semana, veinticuatro horas.</p>
                        </div>
                    </div>
                </div>
                <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                    <img src="img/partpiano.png" alt="">
                </figure>

            </div>
        </div>
        <div style="float:right; margin-right:50%">
            <button type="button" class="btn btn-link"><a href="{{ path('Servicios') }}" >Saber más ... </a></button >
        </div>
    </section><!--main-section-end-->






    <section class="main-section paddind" id="Portfolio"><!--main-section-start-->
        <div class="container">
            <h2>Partituras Públicas</h2>
            <h6>En NotAll creemos que la música es nuestra banda sonora, por ellos todos aquellos participantes pueden dejar sus creaciónes para que todos podamos disfrutarlas.</h6>
            <h6> Partituras más vistas</h6>

        </div>
        <div class="portfolioContainer wow fadeInUp delay-04s">
            <div class=" Portfolio-box printdesign">
                <a href="#"><img src="img/Portfolio-pic1.jpg" alt=""></a>
                <h3>Foto Album</h3>
                <p>Print Design</p>
            </div>
            <div class="Portfolio-box webdesign">
                <a href="#"><img src="img/Portfolio-pic2.jpg" alt=""></a>
                <h3>Luca Theme</h3>
                <p>Web Design</p>
            </div>
            <div class=" Portfolio-box branding">
                <a href="#"><img src="img/Portfolio-pic3.jpg" alt=""></a>
                <h3>Uni Sans</h3>
                <p>Branding</p>
            </div>
            <div class=" Portfolio-box photography" >
                <a href="#"><img src="img/Portfolio-pic4.jpg" alt=""></a>
                <h3>Vinyl Record</h3>
                <p>Photography</p>
            </div>
            <div class=" Portfolio-box branding">
                <a href="#"><img src="img/Portfolio-pic5.jpg" alt=""></a>
                <h3>Hipster</h3>
                <p>Branding</p>
            </div>
            <div class=" Portfolio-box photography">
                <a href="#"><img src="img/Portfolio-pic6.jpg" alt=""></a>
                <h3>Windmills</h3>
                <p>Photography</p>
            </div>
        </div>
        <div style="float:right; margin-right:50%">
            <button type="button" class="btn btn-link"><a href="{{ path('ParUsar') }}" >Saber más ... </a></button >
        </div>
    </section><!--main-section-end-->


    < </div><!--c-logo-part-end-->
    <section class="main-section team" id="team"><!--main-section team-start-->
        <div class="container">
            <h2>Equipo</h2>
            <h6>Equipo creador de NotAll.</h6>

                <div class="team-leader-box">
                    <div class="team-leader  wow fadeInDown delay-06s">
                        <div class="team-leader-shadow"><a href="#"></a></div>
                        <img src="img/team-leader-pic2.jpg" alt="">
                        <ul>
                            <li><a href="#" class="fa-twitter"></a></li>
                            <li><a href="#" class="fa-facebook"></a></li>
                            <li><a href="#" class="fa-pinterest"></a></li>
                            <li><a href="#" class="fa-google-plus"></a></li>
                        </ul>
                    </div>
                </div>

                    <h3 class="wow fadeInDown delay-09s">Juan Ortega Marín </h3>
                    <span class="wow fadeInDown delay-09s">Creador, desarrollador y diseñador</span>
                    <p class="wow fadeInDown delay-09s">orem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
                </div>
            </div>
        </div>

    </section><!--main-section team-end-->



    <section class="business-talking"><!--business-talking-start-->
        <div class="container">
            <h2>¿¿ COMENZAMOS ??</h2>
        </div>
    </section><!--business-talking-end-->
    <div class="container">
        <section class="main-section contact" id="contact">
            <h2 style="margin-bottom: 5%">Registrate</h2>

            <div class="row">
                <form action="" method="post" role="form" class="contactForm">
                    <div class="col-lg-6 col-sm-7 wow fadeInLeft delay-05s">
                        <div id="sendmessage">Mensaje enviado. Vamos a tu Escritorio ... </div>
                        <div id="errormessage"></div>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control input-text" id="nombre" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Introduce al menos 4 carácteres" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control input-text" id="apellidos" placeholder="Tus Apellidos" data-rule="minlen:4" data-msg="Introduce al menos 4 carácteres" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-text" name="email" id="email" placeholder="Tu Correo" data-rule="email" data-msg="Introduce un email válido" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Localidad" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Provincia" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Pais" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                    </div>

                            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                                <h4> Añade una pequeña biografia sobre tí</h4>
                                    <div class="form-group">
                                        <textarea class="form-control input-text text-area" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Biografía"></textarea>
                                        <div class="validation"></div>
                                    </div>
                            </div>
                             <div class="text-center"><button type="submit" class="input-btn">Entrar</button></div>
                </form>

            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo"><a href="#"><img src="img/footer-logo.png" alt=""></a></div>
            <span class="copyright">&copy; NotAll. Todos Los Derechos Reservados</span>
            <span class="copyright">&copy; 2017 Linares, Jaén (España)</span>

            <div class="credits">
                <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Knight
                -->

            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function(e) {
            $('#test').scrollToFixed();
            $('.res-nav_click').click(function(){
                $('.main-nav').slideToggle();
                return false

            });

        });
    </script>

    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset:       100
            }
        );
        wow.init();
    </script>


    <script type="text/javascript">
        $(window).load(function(){

            $('.main-nav li a, .servicelink').bind('click',function(event){
                var $anchor = $(this);

                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top - 102
                }, 1500,'easeInOutExpo');
                /*
                 if you don't want to use the easing effects:
                 $('html, body').stop().animate({
                 scrollTop: $($anchor.attr('href')).offset().top
                 }, 1000);
                 */
                if ($(window).width() < 768 ) {
                    $('.main-nav').hide();
                }
                event.preventDefault();
            });
        })
    </script>

    <script type="text/javascript">

        $(window).load(function(){


            var $container = $('.portfolioContainer'),
                $body = $('body'),
                colW = 375,
                columns = null;


            $container.isotope({
                // disable window resizing
                resizable: true,
                masonry: {
                    columnWidth: colW
                }
            });

            $(window).smartresize(function(){
                // check if columns has changed
                var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
                if ( currentColumns !== columns ) {
                    // set new column count
                    columns = currentColumns;
                    // apply width to container manually, then trigger relayout
                    $container.width( columns * colW )
                        .isotope('reLayout');
                }

            }).smartresize(); // trigger resize to set container width
            $('.portfolioFilter a').click(function(){
                $('.portfolioFilter .current').removeClass('current');
                $(this).addClass('current');

                var selector = $(this).attr('data-filter');
                $container.isotope({

                    filter: selector,
                });
                return false;
            });

        });

    </script>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

{% endblock %}

