{% extends 'base.html.twig' %}
{% block title %}
Bienvenidos a Zaide!
{% endblock %}

{% block body %}
    <header class="header" id="header"><!--header-start-->
    <div class="container" style="align-content: center; margin-top:-10%;">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="{{ asset('img/logo.png') }}" alt="zaide!"></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Bienvenidos a Zaide</h1>

        <a class="link animated fadeInUp delay-1s servicelink" href="{{ path('principal') }}">Comenzar</a>
        <a class="link animated fadeInUp delay-1s servicelink" href="{{ path('login') }}" style="width:auto; background-color:#5fa8de">Entrar</a>
    </div>
    </header><!--header-end-->


{% endblock %}



