{% extends '::plantilla.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Servicios</h2>
        <h6>NotAll ofrece un gran abanico de posibilidades para crear partituras </h6>
        <div class="row">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa fa-rebel"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Registrate & Compone</h3>
                        <p>Crear, ver, imprimir, compartir y escuchar notación musical de calidad profesional directamente en su navegador - en su computador, tableta o teléfono inteligente.
                            Puede mantener sus partituras privadas, compartirlas con otros en notAll. Cree tantas partituras como quiera; componga y reproduzca en alta calidad. Grabe audio en vivo en las partituras;
                            imprima partes individuales o combinaciones de partes.
                    </div>
                    <h1> ¿Insertar Video !</h1>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Desarrollo Web</h3>
                        <p>Que sea fácil de crear y compartir música escrita en línea. Las personas que hacen música - aficionados y profesionales, estudiantes y profesores - que quieren compartir música con otros,
                            tarde o temprano. Pero la mayoría del software para trabajar con música anotada trata a la Internet como una ocurrencia tardía: se orienta a guardar su música en el disco duro de su propio
                            ordenador, para no compartir su música con otras personas.
                            Por ello NotAll abre una ventana para que todos aquellos puedan compartir y quieran compartir su musica con los demas. Hay muchas personas con grandes virtudes, pero los software privados
                            de Composición son muy caros.
                            Por ello, nuestra idea es que NotAll llege a todos.</p>
                    </div>
                    <h1> ¿Insertar FOTO !</h1>

                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-apple"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Diseño Móvl</h3>
                        <p>Puedes crear tus partituras en cualquier Plataforma, ya sea Ordenador, tablet o Smartphone.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>24/7 Soporte</h3>
                        <p>Damos soporte los los siete dias de las semana, veinticuatro horas.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>{% endblock %}