{% extends '::plantilla.html.twig' %}

{% block body %}
<header class="header" id="header"><!--header-start-->
    <div class="container" style="align-content: center; margin-top:-10%;">
        <p> ESTA ES LA PAGINA PRINCIPAL DEL USUARIO </p>
    </div>
</header>{% endblock %}

{% block content %}

{% endblock %}

