{% extends '::plantillaUser.html.twig' %}

{% block content %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Lista de tus Partitas </h2>
                <h5>Aquí tienes el Listado de tus Partituras</h5>
            </div>
        </div>
    </div>
{% endblock %}

