{% extends '::plantillaUser.html.twig' %}

{% block content %}
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Partitura </h2>
                <h5>Comienza a crear una partitura </h5>
                <div id = "volver" style ="float:right;margin-top:-5%;">
                    <a href="{{ path('Cuaderno') }}" class="btn btn-lg btn-danger"> Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

