{% extends '::plantilla.html.twig' %}
{#<!-- Perfil de Usuario una vez registrado -->#}

{% block content %}
<body>
<section class="main-section" id="service"><!--main-section-start-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <h1>Bienvenido a Zaide </h1>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                    </div></div></div></div></div></section>
{% endblock %}