{% extends '::plantillaAdminis.html.twig' %}


{% block body %}
    {{ parent() }}
    <body>

        <!--header end-->

        <!--sidebar start-->
        <!--sidebar end-->

        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--overview start-->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-laptop"></i> ADMINISTRACION ZAIDE</h3>

                    </div>
                </div>
            </section>

        <!--main content end-->
    </section>
    <!-- container section start -->

        <div class="row" STYLE="margin-left: 10% ";>
            <div class="row">


                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="{{ path('usuarios_registro') }}"/>
                    <div class="info-box blue-bg">
                        <i class="fa fa-group"></i>
                        <div class="title"><h1>USUARIOS</h1></div>
                    </div><!--/.info-box-->
                </div>


                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <a href="{{ path('usuarios_homepage') }}"/>
                    <div class="info-box brown-bg">
                        <i class="fa fa-music"></i>
                        <div class="title">
                            <h1>PARTITURAS</h1></div>
                    </div><!--/.info-box-->
                </div><!--/.col-->


            </div>

    </body>

    <!-- javascripts -->

    <script>

        //knob
        $(function() {
            $(".knob").knob({
                'draw' : function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function() {
            $("#owl-slider").owlCarousel({
                navigation : true,
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem : true

            });
        });

        //custom select box

        $(function(){
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function(){
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function(e, el, code){
                    el.html(el.html()+' (GDP - '+gdpData[code]+')');
                }
            });
        });

    </script>






{% endblock %}